

body {
    font-family: 'Arial', sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}
.login-container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    border-color: black;
}
.login-container h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    color: #333;
}
.input-field {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
}
.input-field:focus {
    border-color: #48C6EF;
    box-shadow: 0 0 8px rgba(72, 198, 239, 0.6);
}
.login-btn {
    width: 100%;
    padding: 15px;
    background-color: #48C6EF;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.login-btn:hover {
    background-color: #6F86D6;
}
.forgot-password {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}
.forgot-password a {
    color: #48C6EF;
    text-decoration: none;
}
.forgot-password a:hover {
    text-decoration: underline;
}